body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $gray-10;
}

a {
    color: $blue-20;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dot {
    position: relative;

    &::after {
        content: '';
        width: 3px;
        height: 3px;
        background-color: $black;
        position: absolute;
    }
}