$white: #ffffff;
$black: #1d1d1d;

$gray-100: #DBDBDB;
$gray-90: #bebebe;
$gray-80: #9b9b9b;
$gray-70: #858585;
$gray-60: #686868;
$gray-50: #525252;
$gray-40: #424242;
$gray-30: #333333;
$gray-20: #252525;
$gray-10: #1a1a1a;

$purple-100: #a49fa8;
$purple-90: #a194ac;
$purple-80: #9d8cac;
$purple-70: #9887aa;
$purple-60: #8B70A7;
$purple-50: #7c55a5;
$purple-40: #6b32a8;
$purple-30: #7243a5;
$purple-20: #6b34a7;
$purple-10: #6423a8;
$purple-0: #5509a7;