.navbar {

    display: flex;
    align-items: center;
    background-color: $white;
    font-size: calc(10px + 2vmin);
    color: $black;
    height: 64px;
    @include solid-shadow;
    
    &__wrapper {
        display: flex;
        align-items: center;
        @include default-scape;
    }
    
    &__logo {
        
        img {
            animation: landing-logo-spin infinite 20s linear;
            height: 8vmin;
            pointer-events: none;
        }
    }

    &__search {
        flex: 1;
    }

    &__actions {
        margin-left: s(2);
    }
}