.profile-box {
    
    min-width: 280px;
    background-color: $white;
    border-radius: 2px;
    padding: 16px;
    @include depth-shadow;

    &__wrapper {
        
        .title {
            font-size: 16px;
            color: $purple-40;
            text-align: center;
            margin-bottom: s(2);
        }

        .form {

            .form-buttons {
                margin-top: s(1); 
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .input-form {

                margin-bottom: s(1);
                
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.profile-box-logged {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__basic-info {
        margin-bottom: s(2);

        .profile-pic {
            margin-bottom: s(1);
            display: flex;
            justify-content: center;
            img {
                border-radius: 50px;
            }
        }

        .profile-username {
            color: $blue-0;
            font-weight: 600;
            text-align: center;
            margin-bottom: s(2);
        }

        .profile-info {
            text-align: left;
            font-size: 12px;

            li {
                margin-bottom: s(1);
            }
        }
    }
}